extends  ../../layouts/default.pug
include ../../mixins/table-tree.pug
include ../../mixins/alert.pug
block main
    +alert-error()
    +alert-success()

    h1(class="mb-4") Danh mục sản phẩm

    .card.mb-3
        .card-header Danh sách
        .card-body
            .row
                .col-4
                    a(
                        href=`/${ADMIN_PATH}/product-category/create`
                        class="btn btn-outline-success"
                    ) + Thêm mới
    .card.mb-3
        .card-header Danh sách
        .card-body
            .row
                table(
                    class="table table-hover table-sm"
                    checkbox-multi
                )
                    thead
                        tr
                            td
                                input(type="checkbox" name="checkall")
                            th STT
                            th Hình ảnh
                            th Tiêu đề
                            th Vị trí
                            th Trạng thái
                            th Hành động
                    tbody
                        +table-tree(productCategory)

